[Desktop Entry]
Version=1.0
Name=Evet
Comment= EVET P2P Cryptocurrency
Comment[fr]= EVET, monnaie virtuelle cryptographique pair à pair
Comment[tr]= EVET, eşten eşe kriptografik sanal para birimi
Exec=evet-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Evet-qt
